<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2016  Hendrik Borghorst & Frederik Luetkes
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gateshipone.odyssey">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.indigo">
        <activity
            android:name=".activities.OdysseySplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OdysseyMainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.OdysseyAboutActivity"
            android:label="About"
            android:parentActivityName=".activities.OdysseyMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name=".playbackservice.PlaybackService"
            android:exported="false"
            android:label="OdysseyPlaybackService"
            android:process=":serviceProcess">
            <intent-filter>
                <action android:name="org.gateshipone.odyssey.playbackservice.IOdysseyPlaybackService" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="org.gateshipone.odyssey.newtrackinfo" />
                <action android:name="org.gateshipone.odyssey.togglepause" />
                <action android:name="org.gateshipone.odyssey.stop" />
                <action android:name="org.gateshipone.odyssey.previous" />
                <action android:name="org.gateshipone.odyssey.next" />
            </intent-filter>
        </service>

        <receiver android:name=".playbackservice.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.OdysseyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.gateshipone.odyssey.newtrackinfo" />
                <action android:name="org.gateshipone.odyssey.togglepause" />
                <action android:name="org.gateshipone.odyssey.stop" />
                <action android:name="org.gateshipone.odyssey.previous" />
                <action android:name="org.gateshipone.odyssey.next" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_big_info" />
        </receiver>

        <service android:name=".artworkdatabase.BulkDownloadService"
            android:exported="false"
            android:process=":downloadProcess"/>
    </application>

</manifest>