<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2020 Team Gateship-One
  ~ (Hendrik Borghorst & Frederik Luetkes)
  ~
  ~ The AUTHORS.md file contains a detailed contributors list:
  ~ <https://github.com/gateship-one/odyssey/blob/master/AUTHORS.md>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.gateshipone.odyssey">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".OdysseyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.indigo">

        <activity
            android:name=".activities.OdysseySplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/mpeg" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/mp4" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/x-wav" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/ogg" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/ogg" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/aac" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/aac-adts" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/x-matroska" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/midi" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/flac" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OdysseyMainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.OdysseyAboutActivity"
            android:label="About"
            android:parentActivityName=".activities.OdysseyMainActivity" />
        <activity
            android:name=".activities.OdysseyContributorsActivity"
            android:label="Contributors"
            android:parentActivityName=".activities.OdysseyMainActivity" />

        <service
            android:name=".playbackservice.PlaybackService"
            android:exported="false"
            android:label="OdysseyPlaybackService"
            android:process=":serviceProcess">
            <intent-filter>
                <action android:name="org.gateshipone.odyssey.playbackservice.IOdysseyPlaybackService" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="org.gateshipone.odyssey.newtrackinfo" />
                <action android:name="org.gateshipone.odyssey.togglepause" />
                <action android:name="org.gateshipone.odyssey.stop" />
                <action android:name="org.gateshipone.odyssey.previous" />
                <action android:name="org.gateshipone.odyssey.next" />
            </intent-filter>
        </service>
        <service
            android:name=".artwork.BulkDownloadService"
            android:exported="false"
            android:process=":downloadProcess" />
        <service
            android:name=".mediascanner.MediaScannerService"
            android:exported="false"
            android:process=":mediascanProcess" />

        <receiver
            android:name=".playbackservice.RemoteControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.OdysseyWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.gateshipone.odyssey.newtrackinfo" />
                <action android:name="org.gateshipone.odyssey.hideartworkchanged" />
                <action android:name="org.gateshipone.odyssey.togglepause" />
                <action android:name="org.gateshipone.odyssey.stop" />
                <action android:name="org.gateshipone.odyssey.previous" />
                <action android:name="org.gateshipone.odyssey.next" />
                <action android:name="org.gateshipone.odyssey.action_new_artwork_ready" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>