<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.odyssey">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.indigo">
        <activity
            android:name=".OdysseyMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OdysseyAboutActivity"
            android:label="About"
            android:parentActivityName=".OdysseyMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name="org.odyssey.playbackservice.PlaybackService"
            android:label="OdysseyPlaybackService"
            android:exported="false"
            android:process=":serviceProcess" >
            <intent-filter>
                <action android:name="org.odyssey.playbackservice.IOdysseyPlaybackService" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="org.odyssey.newtrackinfo"/>
                <action android:name="org.odyssey.togglepause"/>
                <action android:name="org.odyssey.stop"/>
                <action android:name="org.odyssey.previous"/>
                <action android:name="org.odyssey.next"/>
            </intent-filter>
        </service>

        <receiver android:name="org.odyssey.playbackservice.RemoteControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.odyssey.widget.OdysseyWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.odyssey.newtrackinfo"/>
                <action android:name="org.odyssey.togglepause"/>
                <action android:name="org.odyssey.stop"/>
                <action android:name="org.odyssey.previous"/>
                <action android:name="org.odyssey.next"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_big_info" />
        </receiver>
    </application>

</manifest>
